<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca Probabilistica</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <section>
        <form action="/buscaProb" method="post">
            <input class="btn"type="submit" value="Buscar" />

            <label>Query: </label>
            <input placeholder="Entre com uma palavra" name='query' />
        </form>

        {% if arquivos%}           
        <div>
            <table border="1px" cellpadding="5px" cellspacing="0" ID="alter">
                <tr> 
                    <td style="background: #468EEC"></td>
                    <td style="background: #468EEC">PESO </td>
                    <td style="background: #468EEC">ARQUIVO </td>
                </tr>
        {% endif %}
        {% for arquivo in arquivos %}
                {% if arquivo[0] >= 0 %}
                    <td>
                        <form action="/buscaProb/setRelevante" method="post" >
                            <input type="hidden"  value="{{ arquivo[1] }}" name="nomeArquivo"/>
                            <input type="hidden"  value="1" name="bool"/>
                            <button type="submit" class="btn_low">relevante</button>
                        </form>
                        <form action="/buscaProb/setRelevante" method="post">
                            <input type="hidden"  value="{{ arquivo[1] }}" name="nomeArquivo"/>
                            <input type="hidden"  value="0" name="bool"/>
                            <button type="submit" class="btn_low">não relevante</button>
                        </form>
                    </td>
                    <td>{{ arquivo[0] }}</td>
                    <td>{{ arquivo[1] }}</td>
                </tr>
                {% endif %}
        {% endfor %}
            </table>
        </div>


    </section>
</body>

</html>